<nav class="navbar navbar-dark bg-dark headerApp">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/home">
      <img src="assets/imgs/principales/somos-salud.png" alt="">
    </a>
    <div class="mr-auto"></div>
    <div class="navbar-expand">
      <div class="navbar-nav">
        <!-- a class="nav-item nav-link" routerLinkActive="active" routerLink="/home">Home</!-a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/salud">About</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/reserva-ficha">Login</a -->
        <div class="textWhite">         
          {{ today }}          
        </div>       
      </div>
    </div>
  </nav>
