<div class="fondoStrongAccess">
    <div class="fondoContenedor">
        <div class="container">
            <div class="container-header">
                <img src="assets/imgs/principales/somos-salud.png" alt="">
              </div>
          
              <div class="contenedor-body">
                <div class="menusTouch">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <div class="btnAccess" (click)="goReservaFicha()">
                                <div class="row">
                                    <div class="col-4 btnIcon">
                                        <img src="assets/imgs/iconos/reserva-fichas.png" alt="">
                                    </div>
                                    <div class="col-8 btnText">Citas médicas </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  
                    <!-- div class="row">
                      <div class="col">
                        <div class="btnAccess" >
                         
                            <div class="row">
                              <div class="col-4">
                                <img src="assets/imgs/iconos/reserva-fichas.png" alt="">
                              </div>
                              <ion-col class="col-8">Citas médicas</ion-col>
                            </div>
                          
                        </div>
                      </div>
                    </!-div -->          
                  
                </div>       
              </div>
        </div>
    </div>
</div>
