.fondoStrongAccess {
    background-color: #02a0c5;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}
.fondoContenedor {
    background-image: url("../../../assets/imgs/principales/fondo.celeste.png");
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.container-header {
    text-align: center;
    padding-top: 40px;
}
/*centra el texto*/
.contenedor-body{
    margin: 50px auto;
}
.menusTouch{
    margin: auto 100px;
}
.btnAccess {
    background-color: #f9b154;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.btnAccess:hover {
    background-color: #f18721;
    color: white;
    font-size: 20px;
}
.btnAccess .btnIcon {
    background-color: #6d56a0;
    border-radius: 20px 50% 50% 20px;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    height: 150px;
}
.btnAccess .btnIcon img{
    height: 80px;
}
.btnAccess .btnText {
    font-size: 20px;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
}