<div class="fondoStrongSalud">
    <div class="fondoContenedor">
        <div class="container-header">
            <img src="assets/imgs/principales/somos-salud.png" alt="" (click)="btnClick()">
        </div>


        <div class="contenedor-body">
            <div class="grid-container">
                <div class="info-izquierdo">
                    <div class="informacion">
                        <img src="assets/imgs/principales/logo-alcaldiacbba.png" alt="" (click)="btnClick()">
                        <p>
                            Plataforma de seguimiento e información de reserva de fichas clinicas del Gobierno Autónomo
                            de
                            Municipal de Cochabamba
                        </p>
                    </div>
                </div>

                <div class="info-derecho">
                    <img src="assets/imgs/salud.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>