.fondoStrongSalud {
    background-color: #02a0c5;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}
.fondoContenedor {
    height: 100%;
    width: 100%;
}
.container-header {
    text-align: center;
    padding-top: 40px;
}
.container-header img {
    height: 70px;
}
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    // grid-gap: 5px;
}
.contenedor-body {
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: end;
}
.contenedor-body .info-izquierdo {
    text-align: right;
}
.contenedor-body .info-izquierdo .informacion {
    width: 70%;
    float: right;
    text-align: left;
}
.contenedor-body .info-izquierdo .informacion img {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 200px;
}
.contenedor-body .info-izquierdo .informacion p {
    font-size: 22px;
}
.contenedor-body .info-derecho {
    float: right;
    text-align: end;
}
.contenedor-body .info-derecho img{
    width: 550px;
    height: auto;
}
.fondoContenedor {
    background-image: url("../../../assets/imgs/principales/fondo-inicio.png");
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}