@import '~bootstrap/dist/css/bootstrap.min.css';
/* You can add global styles to this file, and also import other style files */
$jumbotron-bg: #333;

@font-face {
  font-family: "arciform";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Arciform.otf");
}

$font-arciform: "arciform";

@font-face {
  font-family: "poppins-R";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins-Regular.otf");
}

$font-poppins-r: "poppins-R";

@font-face {
  font-family: "poppins-M";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins-Medium.otf");
}

$font-poppins-m: "poppins-M";

@font-face {
  font-family: "poppins-SB";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins-SemiBold.otf");
}

$font-poppins-sb: "poppins-SB";

* {
  font-family: $font-poppins-r;
}
body {
    background: #f4f6f9;
}

